:root {
  --text-primary: #01435A;
  --text-secondary: #4D7B8B;
  --text-reversed: #FFFFFF;
  --accent-green: #1EC28B;
  --Card: #FFFFFF;
  --background-dark: #01435A;
  --background-footer: #FDDBCB;
  --background-other: #FFFFFF;
  --special-font: 'Permanent Marker';
  --poppins-font: 'Poppins';
  --background-whole: #FDF7F0;
}

*, ::after, ::before {
  box-sizing: border-box;
  max-width: auto;
  /* font-family: "Poppins"; */
}

body {
  background-color: var(--background-whole);
  padding: 0;
  margin: 0;
}

.back-fill {
  background-color: var(--accent-green);
}

.back-unfill {
  background-color: var(--background-dark);
  border: solid var(--accent-green);
}

.back-nofill {
  background-color: var(--Card);
  border: solid var(--accent-green);
}

.text-center {
  text-align: center;
}

img {
  width: 100%;
}

.headcolor {
  background-color: var(--text-primary);
}

.dark-background {
  background-color: var(--background-dark);
}

.white-text {
  color: var(--text-reversed);

}

.font-pop {
  font-family: var(--poppins-font);
}

.pop-weight {
  font-size: 1.2rem;
  /* line-height: 0.4em; */
}

.pop-weight-2 {
  font-size: 2.2rem;
  /* line-height: 0.4em; */
}

.font-marker {
  font-family: var(--special-font);
}

.marker-weight {
  font-size: 4.5em;
  line-height: 0.4em;
}

.gray-text {
  color: var(--text-secondary)
}

.green-text {
  color: var(--accent-green);
  /* font-family: 'Poppins'; */
}

.vert-align {
  vertical-align: middle;
}
/* .other-background {
  background-color: var(--background-other);
} */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: brown;
}


button {
  border-radius: .7rem;
  padding-inline: 0.5rem;
  margin-right: 2rem;
  align-self: center;
  font-size: .78rem;
}

.button-size-1 {
  width: 8.9em;
  height: 3em;
}

.button-size-2 {
  width: 12em;
  height: 4em;
  font-size: 1em;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.cont-header {
  display: flex;
  direction: horizontal;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  max-width: 100%;
  height: 5rem;
  margin-right: 2em;
  list-style-type: none;
}

/* .marker {
  color: var(--text-reversed);
} */

.spacer-1 {
  margin-right: 50em;
}

.spacer-2 {
  /* margin-right: 2rem; */

}

li {
  list-style-type: none;
}


.bg-pic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/Rectangle.png");
  background-color: burlywood;
  max-width: 100%;
  height: 38em;

}

.conto {
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  max-width: 100%;
}


.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5%;

  /* flex-wrap: wrap; */

}

.award {
  /* max-width: 45%; */
  /* width: auto; */
  height: auto;
  padding: 2%;
  flex: 110;
  /* border: solid red; */

}

.sub-award {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}

.shrink {
  width: 38%;

}

.shrink-2 {
  width: 25%;
}

.shrink-3 {
  width: 40%;
}

.small-width {
  max-width: 30%;
  margin: auto;
  /* border: soild red; */

}

.pre-footer {
  display: flex;
  justify-content: end;
  height: (auto, 6em);
  margin: .5% 5% 5% 5%;
  flex: 110;
  /* border: solid red; */
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-footer);
}

.sub-footer-container {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 3%;
  margin-inline: 5%;
  padding: .5em;
}


/* .header {
  border: solid blue;
} */