:root {
  --text-primary: #01435A;
  --text-secondary: #4D7B8B;
  --text-reversed: #FFFFFF;
  --accent-green: #1EC28B;
  --Card: #FFFFFF;
  --background-dark: #01435A;
  --background-footer: #FDDBCB;
  --background: #FDF7F0;
  --special-font: 'Permanent Marker';
}

* {
  box-sizing: border-box;
}



img {
  width: 100%;
}

.headcolor {
  background-color: var(--text-primary);
}

button {
  width: 8em;
  height: 2em;
  border-radius: .5rem;
  padding-inline: 0.5rem;
  margin-right: 2rem;
  align-self: center;
}

.cont-header {
  display: flex;
  direction: column;
  justify-content: space-between;
  max-width: 100%;
  margin-right: 2em;
  margin-left: 80rem;
  f
  




}

/* .header {
  border: solid blue;
} */